<form *ngIf="forma" [formGroup]="forma" class="form p-t-20" (ngSubmit)="saveChanges()">
    <div class="form-group">
        <label for="exampleInputuname">Nombre*</label>
        <div class="input-group">
            <div class="input-group-addon"><i class="ti-arrow-right"></i></div>
            <input type="text" class="form-control" name="Name" formControlName="Name" required>
        </div>
    </div>
    <button [disabled]="forma.invalid" type="submit" class="btn btn-info waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar</button>
    <button type="button" (click)="goToList()" class="btn btn-inverse waves-effect waves-light">Volver al Listado</button>
</form>