<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false" align="center"><img [src]="_userService.userData.imageUrl | defaultPhoto" alt="user" /><br><span class="hide-menu">{{ userProfile.name1 }} {{ userProfile.lastName }} </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/profile/view" routerLinkActive="active">Perfil </a></li>
                        <li><a routerLink="/account-settings" routerLinkActive="active">Configuraciones </a></li>
                        <li><a [routerLink]="['/logout']">Salir</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/dashboard" routerLinkActive="active">Inicio </a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-poll-box"></i><span class="hide-menu">Configuración </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/categories" routerLinkActive="active">Categorías </a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-newspaper"></i><span class="hide-menu">Noticias </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/news" routerLinkActive="active">Listado de Noticias </a></li>
                        <li><a routerLink="/news/create" routerLinkActive="active">Nueva Noticias </a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Contactos </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/contacts" routerLinkActive="active">Listado de contactos </a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Usuarios </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/users" routerLinkActive="active">Listado de Usuarios </a></li>
                        <li><a routerLink="/users/create" routerLinkActive="active">Nuevo Usuario </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->